<html>

<head>
    <title> Kommit</title>
    <style>
        .bio {
            padding: 18px;
            display: block;
            width: 500px;
            height: 600px;
            overflow: hidden;
            background-color: #f1f1f1;
            position: static;
            border-style: solid;

        }


        .image {
            position: center;
            width: 70%;
            padding: 18px;
        }

        #image {
            position: center;
            width: 80%;
            padding: 18px;

        }
    </style>

    <meta charset="utf-8" />
    <!-- Include bootstrap, CSS and jQuery CDN -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
    </script>
</head>

<body>
    <nav class="navbar navbar-default">

        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    Kommit
                </a>
            </div>

            <ul class="nav navbar-nav">
                <li><a href="about">About</a></li>
                <li><a href="download">Download</a></li>
                <li><a href="members">Members</a></li>
                <li><a href="tutorial">Tutorial</a></li>
            </ul>
        </div>
    </nav>

    <h2> What is Kommit?</h2>
    <p> 
        Developing a habit can be difficult. Whether it be going to the gym consistently, studying at the library every morning, or establishing a healthy diet, <br>
        many people struggle to commit to a new behaviour and stick to it. This is human nature. The brain is resistant to change. However, with enough repetition, a<br> 
        previously arduous task becomes effortless.<br>
        <br />
        When most people fail to create a habit, they do so at the beginning. Initially, there is no positive momentum, no neural connections reinforcing the new <br>
        activity. The new behaviour feels unnatural and the mind conjures up endless excuses to avoid it. “I’ll do it tomorrow” becomes a daily mantra. So, when a <br>
        new gym-goer wakes up early in the morning and is tempted to roll back into bed, he needs an extra push -- at least during this critical period when the <br>
        habit is not yet formed. Our app, Kommit, provides this extra push.<br>
        <br />
        Kommit helps people stick with new habits by imposing a form of extreme accountability on its users. The app works in a simple, brutal way. The user types <br>
        a place and a time into the app. If the user desires to go to the gym the next morning at 6:30 am, he selects the address of the gym and enters “6:30 am” as <br>
        the time. Next, the user deposits an arbitrary amount of money -- say, $25. Both steps are done in less than a minute. When 6:30 am rolls around, Kommit <br>
        checks the GPS coordinates of the gym against the coordinates of the user’s phone. If the two locations are not matched up, then the user’s $25 is <br>
        automatically donated to charity. Therefore, the user must be at the gym lest he lose $25.<br>
        <br />
        The function of Kommit is straightforward. It simply compares two locations at a given time. This is effective because, although not all habits require being <br>
        somewhere, a large subset of them do; and in those cases, being at the right place is half the battle of creating the habit. People decide to skip the gym <br>
        while they’re in their warm beds eating chips, not while they are in the gym parking lot with their workout clothes already on. Kommit harnesses a key <br>
        psychological fact: the fear of loss is a greater motivator than the opportunity for reward. Users stick to their habits to avoid losing money.<br>
    </p>


</body>


</html>