<html>

<head>
    <title> Kommit</title>
    <style>
        .bio {
            padding: 18px;
            display: block;
            width: 500px;
            height: 600px;
            overflow: hidden;
            background-color: #f1f1f1;
            position: static;
            border-style: solid;

        }


        .image {
            position: center;
            width: 70%;
            padding: 18px;
        }

        #image {
            position: center;
            width: 80%;
            padding: 18px;

        }
    </style>

    <meta charset="utf-8" />
    <!-- Include bootstrap, CSS and jQuery CDN -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
    </script>
</head>

<body>
    <nav class="navbar navbar-default">

        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    Kommit
                </a>
            </div>

            <ul class="nav navbar-nav">
                <li><a href="about">About</a></li>
                <li><a href="download">Download</a></li>
                <li><a href="members">Members</a></li>
                <li><a href="tutorial">Tutorial</a></li>
            </ul>
        </div>
    </nav>

    <h2> Members of the group:</h2>

    <!-- 4 collapsables-->
    <div class="container" style:"display: table">

        <div style="display: table-row">


            <div class="bio" style=" display: table-cell">
                <img src="./Carlos.jpg" id="image" alt="Carlos Pic">
                <p> My name is Carlos Neira. I was born and raised in Ecuador.
                    I have lived in Utah for the past four years as I attend the University of Utah to complete my B.S
                    in Computer Science and a minor in Astronomy.
                    I have held an intern role at MasterControl for the past year. During my free time I like to work
                    out, play soccer and watch movies.
                    My dream job would be to work with space rovers. </p>
            </div>


            <div class="bio" style=" display: table-cell">
                <img src="./jeremy2.jpg" class="image" alt="Jeremy Pic">
                <p> My name is Jeremy Cruz.
                    I spent time as a combat medic in the Army in 2013-2017.
                    After the Army I took intro classes in multiple subjects and fell in love with Computer Science.
                    I currently work full-time as a Software Engineer and really enjoy what I do.
                    During my free time I play guitar and video games </p>
            </div>


            <div class="bio" style=" display: table-cell">
                <img src="./Jordan.jpg" class="image" alt="Jordan Hendley">
                <p> My name is Jordan Hendley. I’m currently studying at the University of Utah to get my degree in
                    Computer Science.
                    I’m also working full time as an iOS developer for a software company.
                    Due to my experience with iOS, I’ve contributed to my capstone project, called Kommit, by building
                    the app that potential customers will be interfacing with.
                    As far as casual pursuits are concerned, I fall squarely into the nerdy bucket.
                    I play lots of video and board games with my friends, I’ve commentated official Pokemon video game
                    tournaments, and I even run and participate in a couple Dungeons and Dragons groups.
                    Due to my work, I don’t have any other projects I’m working on outside of what I’m doing for the
                    capstone project, but once I graduate I may try to find a fun project or two to work on in my spare
                    time. </p>
            </div>


            <div class="bio" style=" display: table-cell">
                <img src="./Matt.jpg" class="image" alt="Jeremy Pic">
                <p> My name is Matt Myers. I'm currently enrolled in the B.S./M.S.
                    Computer Science program at the University of Utah. I also work as a software development intern at
                    WCF Insurance.
                    My primary contributions to the Kommit app are found in its PayPal features and the "Kommit"
                    Scheduling functionality.
                    Work and school aside, I like to go to the gym in my free time and have two powerlifting
                    competitions under my belt.
                    I am also an avid chess player; I compete in tournaments every weekend and aim to someday achieve
                    the beloved master title. </p>
            </div>
        </div>


    </div>


</body>


</html>